.about-flow {
  display: grid;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin-top: 12rem;
  position: relative;
}

.flow-block {
  /* Ограничиваем ширину текста как на макете */
  line-height: 1.5;
  z-index: 2;
}

.hight-text {
  font-size: 3rem;
  width: 80%;
}


.info-about h3 {
  font-size: 3.5rem;
  color: var(--blue);
}

.info-about p {
  font-size: 2rem;
}


.about-item {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 3rem;
}

.info-about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 350px;
}



.connecting-line path {
  fill: none;
  stroke: var(--blue);
  stroke-width: 2px;
  stroke-dasharray: 1850;
  stroke-dashoffset: 1850;

}



.connecting-line {
  width: 90%;
  
  margin: 0 auto;
   pointer-events: none;
    z-index: 1;
}


/* ── About Us responsive ────────────────────────── */

@media (max-width: 950px) {
  .about-flow {
    margin-top: 8rem;
    gap: 2rem;
  }

  .hight-text {
    font-size: 1.6rem;
    
  }

  .low-text {
    font-size: 1.6rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
  }

  .about-item {

    gap: 2rem;
  }

  .info-about {

    gap: 0.5rem;
    width: 100%;

  }

     .about-item h3 {
        font-size: 2.5rem;
    }

    .about-item p {
        font-size: 2rem;
    }

}

@media (max-width: 750px) {
  .about-flow {
    margin-top: 6rem;
    gap: 1.5rem;
  }

  .hight-text {
    font-size: 1.7rem;
    margin-right: 0;
  }

  .low-text {
    font-size: 1.3rem;
    margin-left: 0;
    margin-top: 1rem;
  }

   .about-item {
    flex-direction: column;
    gap: 1rem;
   
  }
}

@media (max-width: 500px) {
  .about-flow {
    margin-top: 4rem;
    gap: 3rem;
  }

  .hight-text {
    font-size: 1.5rem;
    width: 100%;
  }

  .low-text {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }

  .flow-block {
    max-width: 100%;
  }



  .about-item {
    flex-direction: column;
    gap: 1rem;
  }

  .info-about h3 {
    font-size: 2rem;
  }

  .info-about p {
    font-size: 1.5rem;
  }
}